
.mapcanvas,
.mapcanvas * { .box-sizing(content-box); }

/* Optional responsive image override */
img { max-width: none; }


#map-canvas {
    display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; 
}

#map-canvas img {
  max-width: none;
}

@media print {
  html, body {
    height: auto;
  }

#map-canvas {
    height: 650px;
  }
}

#map-canvas.lower {
	margin-top:500px;
}

#partylabel {
	font-weight: bold;
}

#partyinfo {
	color: #fff;
}

.spinner {
   margin: 8px;
}   
	

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
}
